# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать файлы конфигурации
.env

# Игнорировать файлы с результатами сборки
dist/

# Игнорировать файлы IDE
.idea/
.vscode/